@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <abbr title="Phone"></abbr>
    13988519486
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:rafael_bogoni@hotmail.com">rafael_bogoni@hotmail.com</a><br />
</address>